*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    height: 10vh;
}
main {
    background-color: yellow;
    height: 80vh;
}
footer {
    background-color: gray;
    height: 10vh;
}